i {
  display: inline-block;
  background-repeat: no-repeat;
}

.map-icon {
  width: 32px;
  height: 32px;
  background-image: url("assets/img/icons/map.svg");
}

.phone-icon {
  width: 32px;
  height: 32px;
  background-image: url("assets/img/icons/phone.svg");
}

.email-icon {
  width: 32px;
  height: 32px;
  background-image: url("assets/img/icons/email.svg");
}